{% extends 'base.html.twig' %}
{% block title %}Jedis{% endblock %}
 
{% block body %}
    <style>
        @import url('https://fonts.cdnfonts.com/css/star-wars');
        
        #goBack { position: fixed; bottom: 2rem; left: 2rem; height: 5rem; }
        #goBack:hover { transform: scale(1.1); }

        body { background-color: black; background-image: url("{{ asset('images/custom.jpg') }}"); background-repeat: no-repeat; background-size: cover; font-family: 'Star Wars', sans-serif; color: white; }

        form { position: absolute; z-index: 1; width: 20%; text-shadow: 2px 2px black; border: 5px solid #616F72; border-radius: 10px; background-color: #A0ABA3; padding: 2rem; transform: translate(-50%, -50%); left: 50%; top: 50%; }

        #form-title { color: red; font-size: 2rem; text-align: center; margin-bottom: 3rem; }

        input[type=text], input[type=number] { padding: 0.5rem; width: 90%; margin-bottom: 2rem; margin-top: 5px; color: black; font-size: 1rem; background-color: #FEFEFE; }
        ::placeholder { color: white; }

        #padawan_maitre label { font-family: sans-serif; text-transform: uppercase; font-weight: bold }
        #padawan_maitre label::after { content: "\a"; white-space: pre; }
        
        select { font-family: sans-serif; text-transform: uppercase; font-weight: bold; display: block; margin-top: 5px; margin-bottom: 2rem; }
        input[type=radio] { margin-top: 5px; }

        button[type=submit] { display:block; margin:auto; background-color: #FEFEFE; margin-top: 1rem; padding: 0.7rem; width: auto; font-family: 'Star Wars', sans-serif; border-radius: 5px; }
        button[type=submit]:hover { transform: scale(1.05); cursor: pointer; }
    </style>


    {{ form(form) }}

    <a href="{{ path("app_jedi") }}"><img id="goBack" src="{{ asset('images/back.png') }}"></a>
{% endblock %}